<!-- <app-bar-diagram
  [data]="[{ title: 'football', value: 10 }, { title: 'rugby', value: 20 }]"
></app-bar-diagram>

<app-pie-diagramm
  [data]="[{ title: 'football', value: 10 }, { title: 'rugby', value: 20 }]"
></app-pie-diagramm> -->
<div class="wrapper box-shadow border-radius mb-md">
  <div class="expenses pa-xl flex justify-between items-center">
    <div class="row full-width">
      <div class="col" [class.s6]="!isOpened" [class.s2]="isOpened">
        <div class="expenses__total flex flex-wrap justify-center">
          <div class="expenses__total-title full-width">Ausgaben</div>
          <div class="expenses__total-value full-width">
            {{ expensesTotal | money }}
          </div>
        </div>
      </div>
      <div class="col" [class.s6]="!isOpened" [class.s5]="isOpened">
        <app-pie-diagramm
          #diagram
          class="expenses__diagramm"
          [data]="expenses"
        ></app-pie-diagramm>
      </div>
      <div class="col s5" *ngIf="showDetails">
        <div class="expenses__values">
          <app-value-row
            [data]="e"
            *ngFor="let e of expenses"
            (changed)="onChanged()"
          >
          </app-value-row>
        </div>
      </div>
    </div>
    <button mat-button (click)="toggleDetails()" class="expenses__action">
      {{ isOpened ? 'close' : 'details' }}
    </button>
  </div>
</div>

<div class="wrapper pa-xl box-shadow border-radius">
  <app-bar-diagram [data]="expenses"></app-bar-diagram>
</div>
