.expenses {
  position: relative;

  &__total {
    font-size: 34px;

    &-title {
      font-size: 1.4em;
    }
    &-value {
    }
  }

  &__action {
    position: absolute;
    top: 0;
    right: 0;
    transition: 500ms;

    &--opened {
      .mat-icon {
        transform: rotate(180deg);
      }
    }
  }

  .col {
    transition: width 500ms;
  }

  .row {
    margin-bottom: 0 !important;
  }
}
