@import './vars';

h2 {
  font-size: 30px !important;
}

.page {
}

.m {
  &a {
    &-xs {
      margin: $xs !important;
    }

    &-sm {
      margin: $sm !important;
    }

    &-md {
      margin: $md !important;
    }

    &-xl {
      margin: $xl !important;
    }
  }

  &t {
    &-xs {
      margin-top: $xs !important;
    }

    &-sm {
      margin-top: $sm !important;
    }

    &-md {
      margin-top: $md !important;
    }

    &-xl {
      margin-top: $xl !important;
    }
  }

  &b {
    &-xs {
      margin-bottom: $xs !important;
    }

    &-sm {
      margin-bottom: $sm !important;
    }

    &-md {
      margin-bottom: $md !important;
    }

    &-xl {
      margin-bottom: $xl !important;
    }
  }

  &l {
    &-xs {
      margin-left: $xs !important;
    }

    &-sm {
      margin-left: $sm !important;
    }

    &-md {
      margin-left: $md !important;
    }

    &-xl {
      margin-left: $xl !important;
    }
  }

  &r {
    &-xs {
      margin-right: $xs !important;
    }

    &-sm {
      margin-right: $sm !important;
    }

    &-md {
      margin-right: $md !important;
    }

    &-xl {
      margin-right: $xl !important;
    }
  }
}

.p {
  &a {
    &-xs {
      padding: $xs !important;
      box-sizing: border-box;
    }

    &-sm {
      padding: $sm !important;
      box-sizing: border-box;
    }

    &-md {
      padding: $md !important;
      box-sizing: border-box;
    }

    &-xl {
      padding: $xl !important;
      box-sizing: border-box;
    }
  }

  &t {
    &-xs {
      padding-top: $xs !important;
      box-sizing: border-box;
    }

    &-sm {
      padding-top: $sm !important;
      box-sizing: border-box;
    }

    &-md {
      padding-top: $md !important;
      box-sizing: border-box;
    }

    &-xl {
      padding-top: $xl !important;
      box-sizing: border-box;
    }
  }

  &b {
    &-xs {
      padding-bottom: $xs !important;
      box-sizing: border-box;
    }

    &-sm {
      padding-bottom: $sm !important;
      box-sizing: border-box;
    }

    &-md {
      padding-bottom: $md !important;
      box-sizing: border-box;
    }

    &-xl {
      padding-bottom: $xl !important;
      box-sizing: border-box;
    }
  }

  &l {
    &-xs {
      padding-left: $xs !important;
      box-sizing: border-box;
    }

    &-sm {
      padding-left: $sm !important;
      box-sizing: border-box;
    }

    &-md {
      padding-left: $md !important;
      box-sizing: border-box;
    }

    &-xl {
      padding-left: $xl !important;
      box-sizing: border-box;
    }
  }

  &r {
    &-xs {
      padding-right: $xs !important;
      box-sizing: border-box;
    }

    &-sm {
      padding-right: $sm !important;
      box-sizing: border-box;
    }

    &-md {
      padding-right: $md !important;
      box-sizing: border-box;
    }

    &-xl {
      padding-right: $xl !important;
      box-sizing: border-box;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.items-center {
  align-items: center;
}

.box-shadow {
  box-shadow: 0 0 3px #ccc;
}

.border-radius {
  border-radius: 6px;
}

.full-width {
  width: 100%;
}

.hidden {
  display: none;
}

.diagram-wrapper {
  width: 100%;

  canvas {
    width: 100% !important;
    height: 100% !important;
  }
}

.border-bottom {
  border-bottom: 1px dashed #ccc;
}

.border-right {
  border-right: 1px dashed #ccc;
}

.border-left {
  border-left: 1px dashed #ccc;
}

.no-margin {
  margin: 0 !important;
}
