// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$retire-easy-primary: mat-palette($mat-indigo);
$retire-easy-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$retire-easy-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$retire-easy-theme: mat-light-theme(
  $retire-easy-primary,
  $retire-easy-accent,
  $retire-easy-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($retire-easy-theme);

/* You can add global styles to this file, and also import other style files */

@import './core';
@import './frameworks/materializecss/materialize';
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

html,
body {
  height: 100%;
}
body {
  // margin: 0 80px;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-toolbar {
  background-color: #fff;
}

.mat-ink-bar {
  background-color: #039be5 !important;
}

.mat-tab-label {
  opacity: 1 !important;
  color: #666;
}

#tabAnalyseNotification {
  color: #fff !important;
  background-color: #ff0066;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  font-size: 10px;
  position: relative;
  left: 4px;
  bottom: 4px;
  animation: bounce 4s ease-out infinite;
}

@keyframes bounce {
  0%,
  5%,
  12.5%,
  20%,
  100% {
    transform: translateY(0px);
  }
  10% {
    transform: translateY(-12px);
  }
  15% {
    transform: translateY(-5px);
  }
}

.header {
  &__title {
    margin-top: 20px;
    margin-bottom: 50px;
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 32px;
    color: #039be5;
  }

  &__logout {
    position: absolute;
    right: 100px;
    top: 24px;
    text-align: right;
  }
}
