<mat-sidenav-container class="retire-easy">
  <mat-sidenav
    #sidenav
    mode="side"
    class="example-sidenav"
    [fixedInViewport]="'fixed'"
    [fixedTopGap]="0"
    [fixedBottomGap]="0"
  >
    <mat-list role="list">
      <mat-list-item role="listitem">Item 1</mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="retire-easy__toolbar">
      <mat-icon class="mr-md" (click)="sidenav.toggle()">home</mat-icon>
      Retire Easy
    </mat-toolbar>
    <div class="retire-easy__content pa-md">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
