
  <div class="header__title">
    Bank <span style="color:#666;">X</span>
  </div>
  <div class="header__logout">
    Hallo Herr Musterman!<br/><a href="#">logout</a>
  </div>

<mat-tab-group (selectedTabChange)="onLinkClick($event)">
  <mat-tab label="Kontoumsätze">
    <app-analyse></app-analyse>
  </mat-tab>
  <mat-tab label="Lorem">
  </mat-tab>
  <mat-tab label="Ipsum">
    </mat-tab>
  <mat-tab >
      <ng-template mat-tab-label >Analyse<div id="tabAnalyseNotification">1</div></ng-template>
      <app-analyse></app-analyse>
    </mat-tab>
</mat-tab-group>
